p {
    color: green;
}

svg path:hover {
    fill: red !important;
}

.show {
    transform: scale(1.2);
    visibility: visible;
    opacity: 1;
}

#path4878  {
    fill: purple;
}

.svg { 
    cursor: not-allowed;
}